{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if is_update %}Editar Restaurante{% else %}Cadastro de Restaurante{% endif %}
{% endblock %}

{% block page_title %}
    {% if is_update %}Editar Restaurante{% else %}Cadastro de Restaurante{% endif %}
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row g-4">

        <!-- esquerda -->
        <div class="col-lg-8">

            <!-- Dados de acesso -->
            <div class="form-section mb-4">
                <h6 class="section-title">
                    <i class="bi bi-person-lock me-2"></i>Dados de Acesso
                </h6>

                <div class="row g-3">

                    <div class="col-md-6">
                        <label class="form-label required">Responsável</label>
                        {{ user_form.first_name }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label required">Email</label>
                        {{ user_form.email }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label required">Telefone</label>
                        {{ user_form.telefone }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label required">Telefone Comercial</label>
                        {{ restaurante_form.telefone_comercial }}
                    </div>

                    {% if not is_update %}
                    <div class="col-md-6">
                        <label class="form-label required">Senha</label>
                        {{ user_form.password }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label required">Confirmar Senha</label>
                        {{ user_form.confirm_password }}
                    </div>
                    {% else %}
                    <div class="col-md-6">
                        <label class="form-label">Nova Senha</label>
                        {{ user_form.password }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Confirmar Nova Senha</label>
                        {{ user_form.confirm_password }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Dados do restaurante -->
            <div class="form-section mb-4">
                <h6 class="section-title">
                    <i class="bi bi-shop me-2"></i>Dados do Restaurante
                </h6>

                <div class="row g-3">

                    <div class="col-md-6">
                        <label class="form-label">Nome Fantasia</label>
                        {{ restaurante_form.nome_fantasia }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Razão Social</label>
                        {{ restaurante_form.razao_social }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">CNPJ</label>
                        {{ restaurante_form.cnpj }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Taxa Entrega</label>
                        {{ restaurante_form.taxa_entrega }}
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Tempo Entrega(minutos)</label>
                        {{ restaurante_form.tempo_preparo_min }}
                    </div>

                </div>
            </div>

            <!-- Endereço -->
            <div class="form-section">
                <h6 class="section-title">
                    <i class="bi bi-geo-alt me-2"></i>Endereço
                </h6>

                <div class="row g-3">
                    <div class="form-check form-switch mb-3">
                        {{ endereco_form.principal }}
                        <label class="form-check-label ms-2">Principal?</label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Tipo</label>
                        {{ endereco_form.tipo }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">CEP</label>
                        {{ endereco_form.cep }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Rua</label>
                        {{ endereco_form.rua }}
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Número</label>
                        {{ endereco_form.numero }}
                    </div>

                    <div class="col-md-9">
                        <label class="form-label">Bairro</label>
                        {{ endereco_form.bairro }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Cidade</label>
                        {{ endereco_form.cidade }}
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Estado</label>
                        {{ endereco_form.estado }}
                    </div>
                </div>
            </div>
        </div>

        <!-- direita -->
        <div class="col-lg-4">

            <div class="form-section mb-4">
                <h6 class="section-title">
                    <i class="bi bi-image me-2"></i>Logo
                </h6>

                <div class="upload-box">
                    <img id="preview"
                    src="{% if is_update and object.usuario.foto %}{{ object.usuario.foto.url }}{% else %}{% static 'imagens/user.png' %}{% endif %}"
                    class="photo-preview mb-3">

                    {{ usuario_form.foto }}
                </div>
            </div>

            <div class="form-section mb-4">
                <h6 class="section-title">
                    <i class="bi bi-sliders me-2"></i>Status
                </h6>

                <div class="form-check form-switch mb-3">
                    {{ restaurante_form.aceita_retirada }}
                    <label class="form-check-label ms-2">Aceita retirada</label>
                </div>

                <div class="form-check form-switch">
                    {{ restaurante_form.ativo }}
                    <label class="form-check-label ms-2">Restaurante ativo</label>
                </div>
            </div>

            <div class="form-section">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-action">
                        {% if is_update %}Atualizar Restaurante{% else %}Salvar Restaurante{% endif %}
                    </button>

                    <a href="javascript:history.back()" class="btn btn-outline-secondary">
                        Voltar
                    </a>
                </div>
            </div>

        </div>
    </div>
</form>
{% endblock %}